@font-face {
  font-family: 'HGSoftGGothicssi';
  src: url('HGSoftGGothicssiP00gA.eot');
  src: url('HGSoftGGothicssiP00gA.eot?#iefix') format('embedded-opentype'),
      url('HGSoftGGothicssiP00gA.woff2') format('woff2'),
      url('HGSoftGGothicssiP00gA.woff') format('woff'),
      url('HGSoftGGothicssiP00gA.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
    font-family: 'HGSoftGGothicssi';
    src: url('HGSoftGGothicssiP20gA.eot');
    src: url('HGSoftGGothicssiP20gA.eot?#iefix') format('embedded-opentype'),
        url('HGSoftGGothicssiP20gA.woff2') format('woff2'),
        url('HGSoftGGothicssiP20gA.woff') format('woff'),
        url('HGSoftGGothicssiP20gA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HGSoftGGothicssi';
    src: url('HGSoftGGothicssiP60gA.eot');
    src: url('HGSoftGGothicssiP60gA.eot?#iefix') format('embedded-opentype'),
        url('HGSoftGGothicssiP60gA.woff2') format('woff2'),
        url('HGSoftGGothicssiP60gA.woff') format('woff'),
        url('HGSoftGGothicssiP60gA.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HGSoftGGothicssi';
    src: url('HGSoftGGothicssiP99gA.eot');
    src: url('HGSoftGGothicssiP99gA.eot?#iefix') format('embedded-opentype'),
        url('HGSoftGGothicssiP99gA.woff2') format('woff2'),
        url('HGSoftGGothicssiP99gA.woff') format('woff'),
        url('HGSoftGGothicssiP99gA.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HGSoftGGothicssi';
    src: url('HGSoftGGothicssiP80gA.eot');
    src: url('HGSoftGGothicssiP80gA.eot?#iefix') format('embedded-opentype'),
        url('HGSoftGGothicssiP80gA.woff2') format('woff2'),
        url('HGSoftGGothicssiP80gA.woff') format('woff'),
        url('HGSoftGGothicssiP80gA.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HGSoftGGothicssi';
    src: url('HGSoftGGothicssiP40gA.eot');
    src: url('HGSoftGGothicssiP40gA.eot?#iefix') format('embedded-opentype'),
        url('HGSoftGGothicssiP40gA.woff2') format('woff2'),
        url('HGSoftGGothicssiP40gA.woff') format('woff'),
        url('HGSoftGGothicssiP40gA.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

